<h2 mat-dialog-title>{{ 'Dodaj' }} Wyrażenie</h2>

<mat-dialog-content>
  <form [formGroup]="unitermForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Wyrażenie</mat-label>
      <input matInput formControlName="firstExpression" placeholder="Wprowadź wyrażenie">
      <mat-error *ngIf="unitermForm.get('firstExpression')?.hasError('required')">
       Wyrażenie jest wymagane
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-raised-button color="primary" [disabled]="unitermForm.invalid" (click)="onSave()">
    Zapisz
  </button>
</mat-dialog-actions>