<div class="container">
    <div class="uniterm-list">
      <h2>Unitermy</h2>
      <button mat-raised-button color="primary" (click)="openAddDialog()">Dodaj Uniterm</button>
      <mat-list>
        <mat-list-item *ngFor="let uniterm of uniterms" 
                       [class.selected]="uniterm === selectedUniterm"
                       (click)="selectUniterm(uniterm)">
          <span>{{ uniterm.name }}</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="uniterm-editor" *ngIf="selectedUniterm">
      <app-uniterm-editor [uniterm]="selectedUniterm"></app-uniterm-editor>
    </div>
  </div>